<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - 期貨整合平台</title>*@
    <title>客戶訊息通知平台</title>
    <link href="@Url.Content("~/Content/DDSC.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            //new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
        )
    @Html.DevExpress().GetScripts(
            //new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            //new Script { ExtensionSuite = ExtensionSuite.Scheduler },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
    <script type="text/javascript" src=@Url.Content("~/Scripts/jquery.blockUI.js")></script>
</head>
<body>


    <div class="container body-content">
        @RenderBody()

    </div>

    @RenderSection("scripts", required: false)
</body>
</html>